<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div th:fragment="header">

    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="font-weight: bold">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/welcome}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/quotes}">Quotes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/favourites}">Favourites</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" th:action="@{/leave}" method="post">
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit" style="font-weight: bold">Logout
                </button>
            </form>
        </nav>
    </div>

</div>
</body>
</html>