<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

    <title>Quotes</title>
</head>
<body>

<div th:replace="fragments/header :: header"></div>
<div class="container">

    <table class="table table-striped">
        <thead>
        </thead>
        <tbody>
        <tr th:each="quote : ${quotes}">
            <td th:text="${quote.text} + ' - ' + ${quote.author}"></td>

            <td>
                <form th:action="@{/addFavourite/} + ${quote.getId()}" method="post">
                    <button class="btn btn-outline-success" type="submit">Like</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>

</body>
</html>