<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

    <title>Registration</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <h1>Registration to Readings</h1>
            <br>
            <!--/*@thymesVar id="user" type="com.yasemin.readings.model.User"*/-->
            <form th:action="@{/registration}" th:object="${user}" method="post">

                <p class="error-message"
                   th:if="${#fields.hasGlobalErrors()}"
                   th:each="error : ${#fields.errors('global')}"
                   th:text="${error}">Validation error</p>

                <div class="form-group"
                     th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">
                    <input id="firstName"
                           class="form-control"
                           th:field="*{firstName}"
                           placeholder="First Name"/>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('firstName')}"
                       th:text="${error}">Validation error</p>
                </div>

                <div class="form-group"
                     th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''">
                    <input id="lastName"
                           class="form-control"
                           th:field="*{lastName}"
                           placeholder="Last Name"/>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('lastName')}"
                       th:text="${error}">Validation error</p>
                </div>

                <div class="form-group"
                     th:classappend="${#fields.hasErrors('username')}? 'has-error':''">
                    <input id="username"
                           class="form-control"
                           th:field="*{username}"
                           placeholder="Username"/>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('username')}"
                       th:text="${error}">Validation error</p>
                </div>

                <div class="form-group"
                     th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                    <input id="password"
                           class="form-control"
                           type="password"
                           th:field="*{password}"
                           placeholder="Password"/>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('password')}"
                       th:text="${error}">Validation error</p>
                </div>

                <div class="form-group"
                     th:classappend="${#fields.hasErrors('passwordConfirm')}? 'has-error':''">
                    <input id="passwordConfirm"
                           class="form-control"
                           type="password"
                           th:field="*{passwordConfirm}"
                           placeholder="Confirm Password"/>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('passwordConfirm')}"
                       th:text="${error}">Validation error</p>
                </div>

                <br>
                <div class="form-group">
                    <button type="submit" class="btn btn-info">Register</button>
                    <span>Already registered? <a href="/" th:href="@{/login}"> Login here </a></span>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>

</body>
</html>